    <%- include('partials/_header') %>
  
    <div style="height: 80px;"></div>

    <section class="container my-5">
    <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 cadastro-box">
    <h2 class="text-center mb-4">Captura de Imagem</h2>
    <div class="mb-3 d-flex align-items-center">
    <div class="d-grid gap-2">
        <button id="start-camera" class="btn btn-personalizado">Iniciar câmera</button>
        <video id="video" width="320" height="240" autoplay class="mx-auto d-block"></video>
        <button id="click-photo" class="btn btn-personalizado">Tirar foto</button>
        <canvas id="canvas" width="320" height="240" class="mx-auto d-block"></canvas>
    <form action="/" method="get">
        <button type="submit" id="envia-foto" class="btn btn-personalizado w-100">Enviar Imagem</button>
    </form>
    </div>
</div>

</div>
</div>
</section>
  <%- include('partials/_footer') %>

    <script src="/js/camera.js"></script>
</body>
</html>