    <%- include('partials/_header') %>
  <main class="fundo-pag-construcao">
        <img src="/images/site_em_construcao.jpg" alt="Site em construcao">
  </main>
    
  <%- include('partials/_footer') %>
</body>
</html>